
<h1 class="text-center">Restaurants Index</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <ol>
          <% @restaurants.each do |restaurant| %>
          <li><%= link_to "#{restaurant.name} - #{restaurant.address} - #{restaurant.category}" , restaurant_path(restaurant) %></li>
          <% end %>
      </ol>
    </div>
  </div>
  <div class="row padded">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= link_to "Add a New Restaurant", new_restaurant_path, class: 'btn-treehouse' %>
    </div>
  </div>
</div>