<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :content, placeholder: 'awesome restaurant' %>
        <%= f.submit "Add a Review", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>